<nav class="sidePanels d-flex flex-column justify-content-between bg-light py-8">
  <!-- 側邊儀表板 -->
  <div>
    <h1 class="mb-8"><a class="logo ms-8" href="./index.html">answer</a></h1>
    <ul class="navList list-unstyled">
      <li class="mb-6">
        <a href="#" class="nav-link link-dark px-8">
          <span class="material-icons align-middle me-4">
            assessment
            </span>
            Dashboard
        </a>
      </li>
      <li class="mb-6">
        <a href="#" class="nav-link link-dark px-8">
          <span class="material-icons align-middle me-4">
            question_answer
            </span>
            Question
        </a>
      </li>
      <li class="mb-6">
        <a href="./index.html" class="nav-link link-dark px-8 <%= current === 'index' && 'active' %>">
          <span class="material-icons align-middle me-4">
            assignment
            </span>
            Assignment
        </a>
      </li>
      <li class="mb-6">
        <a href="#" class="nav-link link-dark px-8">
          <span class="material-icons align-middle me-4">
            video_library
            </span>
            Course
        </a>
      </li>
      <li class="mb-6">
        <a href="./admin.html" class="nav-link link-dark px-8 <%= current === 'admin' && 'active' %>">
          <span class="material-icons align-middle me-4">
            supervisor_account
            </span>
            Admin
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark px-8">
          <span class="material-icons align-middle me-4">
            settings
            </span>
            Settings
        </a>
      </li>
    </ul>
  </div>
  <div class="d-flex ms-8">
    <img class="headshot rounded-circle me-2 my-2" src="./assets/images/andychen.jpeg" alt="headshot">
    <div class="ms-2">
      <h5 class="fs-6">Andy Chen</h5>
      <a class="text-info fw-normal mt-1 fs-14px" href="mailto:andy0401@mail.com">andy0401@mail.com</a>
    </div>
  </div>
</nav>