.content {
  width: calc( 100% - 27% - 40px );
  position: absolute;
  top: 0;
  left: 25%;
  height: auto;
}
.sidePanels {
  width: 23%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  .logo {
    // 圖片取代文字
    background-image: url('./../images/logo-ANSWER.svg');
    width: 150px;
    height: 40px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }
  .nav-link {
    &.active{
      color: #198754;
      border-left: 4px solid #198754;
    }
    &:hover {
      color: #198754;
    }
  }
  .headshot {
    width: 40px;
    height: 40px;
  }
}