<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <div class=" position-relative d-flex">
      <%- include('./partials/header'); %>

      <main class="content mx-5">
        <%- contents %>
      </main>
      
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>