<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <div class="container-xxl h-auto d-flex justify-content-between mx-auto">
      <%- include('./partials/header'); %>

      <main class="w-100 px-8">
        <%- contents %>
      </main>
      
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>